
.rules{
    ul {
        padding-left: 2rem;
        list-style-type: none;
      }
      
      ul li {
        padding-left: 2rem;
        background-image: url("../../Images/star.svg");
        background-position: 0 0;
        background-size: 1.3rem 1.3rem;
        background-repeat: no-repeat;
      }
}